/*--------------------------------
CSS記述の順番
　-フォントサイズ
　- メディアタイプに関わらない共通の設定
  - @media　スマホ向けの設定
  - @media　PC向けの設定
--------------------------------*/

:root {
  --font-size-sm: clamp(0.8rem, 0.59vw + 0.65rem, 1.13rem);
  --font-size-base: clamp(1rem, 0.91vw + 0.77rem, 1.5rem);
  --font-size-md: clamp(1.25rem, 1.36vw + 0.91rem, 2rem);
  --font-size-lg: clamp(1.56rem, 2.01vw + 1.06rem, 2.67rem);
  --font-size-xl: clamp(1.95rem, 2.91vw + 1.23rem, 3.55rem);
  --font-size-xxl: clamp(2.44rem, 4.17vw + 1.4rem, 4.74rem);
  --font-size-xxxl: clamp(3.05rem, 5.93vw + 1.57rem, 6.31rem);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #192200;
    color: #e6dcb6;
  }
}
.TagMenu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.TagMenuBox {
  width: 100%;
  position: relative;
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
}

#TagmenuButton {
  display: flex;
  flex: 0 0 calc(10%-20px);
  justify-content: flex-end;
  width: fit-content;
  height: 80px;
  background-color: #00000000;
  border: 0.5px solid #00000000;
}
@media (prefers-color-scheme: dark) {
  #TagmenuButton {
    background-color: #192200;
    border: 0.5px solid #192200;
    color: #e6dcb6;
  }
}

.openMenutxt {
  left: 40%;
  right: 0%;
  position: relative;
  background: #00000000;
  font-size: var(--font-size-sm);
}
@media (prefers-color-scheme: dark) {
  .openMenutxt {
    background: #e6dcb6;
    color: #192200;
  }
}
.openMenu {
  position: relative;
  background: #00000000;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
@media (prefers-color-scheme: dark) {
  .openMenu {
    background: #192200;
    color: #e6dcb6;
  }
}
.openMenu span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #070707;
  width: 45%;
}
@media (prefers-color-scheme: dark) {
  .openMenu span {
    background: #e6dcb6;
  }
}
.openMenu span:nth-child(1) {
  top: 15px;
}
.openMenu span:nth-child(2) {
  top: 23px;
}
.openMenu span:nth-child(3) {
  top: 31px;
}
.openMenu.active span:nth-child(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openMenu.active span:nth-child(2) {
  opacity: 0;
}
.openMenu.active span:nth-child(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.namebox {
  border-radius: 9.194px;
  stroke: #243d25;
  stroke-miterlimit: 10;
  stroke-width: 1;
  font-size: var(--font-size-base);
  border: 1px solid #000;
  transform: translate(21.529px, 57.832px);
}
.ToDetailButton {
  -webkit-user-select: none;
  user-select: none;
  overflow-wrap: anywhere;
  font-family: "ArialRoundedMTBold";
}
@media (prefers-color-scheme: dark) {
  .namebox {
    stroke: #e6dcb6;
    border: 1px solid #e6dcb6;
  }
}

.tagbutton {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: fit-content;
  width: 11%;
  margin: 5px;
  border-radius: 9.194px;
  stroke: #243d25;
  stroke-miterlimit: 10;
  stroke-width: 0.5;
  font-size: var(--font-size-sm);
  background-color: #00000000;
  border: 0.5px solid #000;
}
@media (prefers-color-scheme: dark) {
  .tagbutton {
    color: #e6dcb6;
    stroke: #e6dcb6;
    background-color: #192200;
    border: 0.5px solid #e6dcb6;
  }
}
@media screen and (max-width: 395px) {
  .lineitem {
    display: inline-block;
    width: 100%;
    height: 120px;
  }
  .namebox {
    width: 345.045px;
    height: 100.0124px;
    stroke: rgb(66, 22, 104);
  }
  @media (prefers-color-scheme: dark) {
    .namebox {
      stroke: #e6dcb6;
      color: #e6dcb6;
    }
  }
  .ToDetailButton {
    width: 274.045px;
    height: 100.124px;
  }
}

@media screen and (min-width: 395px) {
  .lineitem {
    width: 289px;
    height: 125px;
  }
  .namebox {
    width: 274.045px;
    height: 100.124px;
  }
  .ToDetailButton {
    width: 274.045px;
    height: 100.124px;
  }
  @media (prefers-color-scheme: dark) {
    .namebox {
      stroke: #e6dcb6;
    }
    .ToDetailButton {
      color: #e6dcb6;
      background-color: #192200;
    }
  }
}

.slidermenu_base.none {
  display: none;
}
#pageTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #942d2f00;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--font-size-sm);
  transition: 0.3s;
}

#pageTop a:hover {
  background: #777;
}

#pageTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
  transform: translateY(100px);
}

#pageTop.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#pageTop.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
