.librarylink {
  -webkit-user-select: none;
  user-select: none;
}
.slick-list {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
}

.sec_inner {
  white-space: nrowrap;
  width: 100%;
  height: 250px;
  border-radius: 9.194px;
  stroke: rgb(36, 61, 37);
  stroke-miterlimit: 10;
  stroke-width: 1;
  border: 2px solid rgb(0, 0, 0);
  transform: translate(21.529px, 57.832px);
  margin-top: 3%;
}

/*search*/
.lineitem {
  display: inline-block;
  width: 289px;
  width: 289px;
  height: 125px;
  fill: none;
}

.namebox {
  width: 274.045px;
  height: 100.124px;
  border-radius: 9.194px;
  stroke: #243d25;
  stroke-miterlimit: 10;
  stroke-width: 1;
  font-size: 27px;
  border: 1px solid #000;
  transform: translate(21.529px, 57.832px);
}
.ToDetailButton{
  width: 274.045px;
  height: 100.124px;
  background-color: #00000000;
  border: none;
}
