/*--------------------------------
CSS記述の順番
	- メディアタイプに関わらない共通の設定
  - @media　スマホ向けの設定
  - @media　PC向けの設定
--------------------------------*/

.menu {
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
}

/* 関数*/
/*関数全体ブロック*/
@media screen and (max-width: 420px) {
  .funcblockall {
    transform: translate(0px, 0px);
  }
}
@media screen and (min-width: 420px) {
  .funcblockall {
    transform: translate(167px, 57px);
  }
}
.funcblockall {
  white-space: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: visible;
  position: relative;
}

/*関数名*/
.funcFrame {
  display: inline-block;
}
.funcName {
  flex: 0 0 auto;
}
@media screen and (max-width: 420px) {
  .funcFrame {
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }
  .funcName {
    font-size: 30px;
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
  }
}
@media screen and (min-width: 420px) {
  .funcFrame {
    flex-grow: 1;
    height: 100%;
  }
  .funcName {
    font-size: 48px;
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
  }
}

/*引数の説明ホバー*/
.hover {
  animation: fadein 1s ease 0s 1 normal forwards;
  height: 240px;
  width: 240px;
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*引数*/
.txt {
  font-size: 30px;
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  margin: 14%;
}

/*タブ部分*/

@media screen and (max-width: 420px) {
  #forPcTabContents {
    display: none;
  }
  #forMobileTabcontents {
    display: block;
    transform: translate(0%, 0px);
  }
}

@media screen and (min-width: 420px) {
  #forPcTabContents {
    display: block;
    transform: translate(20%, 0px);
    margin-top: 10%;
  }
  #forMobileTabcontents {
    display: none;
  }
  .tab {
    position: relative;
    display: flex;
    color: #222;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-wrap: anywhere;
    text-align: center;
    background: transparent;
  }
  .tab::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #baff0b;
  transform: scaleX(0);
  }
}

.tabcontents {
  margin-top: 54px;
}
.tabs {
  width: auto;
  height: auto;
  transform: translateY(-300px);
}
.tab {
  font-size: 22px;
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", sans-serif;
  background-color: #00000000;
  margin: 0.5%;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: block;
}
.content {
  transform: translate(15px);
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", sans-serif;
}

.image.funcimage {
  height: 190px;
  margin-top: -18px;
}
.funclast {
  font-size: 48px;
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", sans-serif;
  display: flex 0 0 auto;
  margin-right: 10px;
  margin-bottom: 4%;
}
/*タブ*/
.tab {
  -webkit-user-select: none;
  user-select: none;
}

.tabs {
  -webkit-user-select: none;
  user-select: none;
  transform: translateX(430px);
}
.slider-conteiner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0%;
}
.slick-slide {
  position: center;
  transform: translateX(0%);
  font-size: 23px;
  width: fit-content;
}
