/* 関数*/
.hovanime {
  animation: fadein 1s ease 0s 1 normal forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*引数*/
.txt {
  font-size: 38px;
  font-family: "Hiragino Maru Gothic ProN","YuGoshic", sans-serif;
  margin: 14%;
}
/*タブ部分*/
.tab {
  font-size: 24.7px;
  font-family: "Hiragino Maru Gothic ProN","YuGoshic", sans-serif;
  background-color: #00000000;
  margin: 1%;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: block;
}