/*--------------------------------
CSS記述の順番
	- メディアタイプに関わらない共通の設定
  - @media　スマホ向けの設定
  - @media　PC向けの設定
--------------------------------*/
:root {
  --font-size-sm: clamp(1rem, 0.11vw + 0.97rem, 1.06rem);
  --font-size-base: clamp(1.25rem, 0.3vw + 1.17rem, 1.42rem);
  --font-size-base2: clamp(1.56rem, 0.59vw + 1.41rem, 1.89rem);
  --font-size-md: clamp(1.95rem, 1.02vw + 1.7rem, 2.52rem);
  --font-size-lg: clamp(2.44rem, 1.66vw + 2.03rem, 3.35rem);
  --font-size-xl: clamp(3.05rem, 2.58vw + 2.41rem, 4.47rem);
  --font-size-xxl: clamp(3.81rem, 3.9vw + 2.84rem, 5.96rem);
  --font-size-xxxl: clamp(4.77rem, 5.78vw + 3.32rem, 7.95rem);
}

/*====== ローディング ======*/
#loading {
  transition: all 1s;
  background-color: #ddd;
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
} /* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 0.577;
  color: #000;
  display: grid;
  background: linear-gradient(currentColor 0 0) top / 100% 1px,
    linear-gradient(currentColor 0 0) bottom/100% 1px,
    linear-gradient(
        to bottom right,
        #0000 calc(50% - 2px),
        currentColor calc(50% - 1px),
        #0000 50%
      )
      top/100% calc(100% + 2px),
    linear-gradient(
        to bottom left,
        #0000 calc(50% - 2px),
        currentColor calc(50% - 1px),
        #0000 50%
      )
      top/100% calc(100% + 2px);
  background-repeat: no-repeat;
  animation: l17 4s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border: inherit;
  animation: inherit;
}
.loader::after {
  animation-duration: 2s;
}
@keyframes l17 {
  100% {
    transform: rotate(1turn);
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/*======　本体　=======*/
body {
  overflow-x: hidden;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #192200;
    color: #e6dcb6;
  }
}
@media (prefers-color-scheme: light) {
  .returnlink {
    color: #192200;
  }
}
@media (prefers-color-scheme: dark) {
  .returnlink {
    color: #e6dcb6;
  }
}

.menu {
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  margin-top: 2%;
}

/* 関数*/
/*関数全体ブロック*/
@media screen and (max-width: 420px) {
  .funcblockall {
    margin-top: 4%;
  }
}
@media screen and (min-width: 420px) {
  .funcblockall {
    margin-left: 1%;
    margin-top: 2%;
    width: 100%;
  }
}
.funcblockall {
  white-space: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: visible;
  flex-wrap: wrap;
}

/*関数名*/

.funcFrame {
  display: inline-block;
  align-items: center;
}
.funcName {
  margin: 2%;
  flex: 0 0 auto;
  font-size: var(--font-size-xxxl);
  top: 5rem;
}

.arg-hover-horizon {
  width: fit-content;
  margin: 6%;
}

@media screen and (max-width: 420px) {
  .arg-hover-horizon {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
}
@media screen and (min-width: 420px) {
  .arg-hover-horizon {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
  }
}

@media screen and (max-width: 420px) {
  #arg-hoverblock {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
  }
}
@media screen and (min-width: 420px) {
  #arg-hoverblock {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
  }
}

/*引数*/
.argblock {
  display: inline-block;
}

@media screen and (max-width: 420px) {
  .argcol {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
  }
}
@media screen and (min-width: 420px) {
  .argcol {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 6%;
  }
}

@media screen and (max-width: 420px) {
  .funcFrame {
    width: fit-content;
  }
  .funcName {
    font-size: var(--font-size-xl);
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
  }
}
@media screen and (min-width: 420px) {
  .funcFrame {
    width: fit-content;
  }
  .funcName {
    font-size: var(--font-size-lg);
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
    user-select: none;
  }
  .funcstart {
    font-size: var(--font-size-lg);
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
    user-select: none;
  }
  .funcstart.hidden {
    visibility: hidden;
  }
}

/*引数の説明ホバー*/
.hoverFrame {
  width: 100%;
  margin-top: 14%;
  margin-right: 1%;
}

.hover {
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: var(--font-size-sm);
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  line-height: 1;
}
.hover.visible {
  visibility: visible;
  opacity: 1;
  animation: fadein 1s ease 0s 1 normal forwards;
}
.hover.hidden {
  visibility: hidden;
  opacity: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*引数*/
.FuncstartTxt {
  font-size: var(--font-size-xxl);
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
}
.txt {
  font-size: var(--font-size-md);
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  margin-top: 7%;
  margin-bottom: 2%;
  width: fit-content;
  user-select: none;
}

/*タブ部分*/

@media screen and (max-width: 420px) {
  #forPcTabContents {
    display: none;
  }
  #forMobileTabcontents {
    display: block;
    transform: translate(0%, 0px);
  }
}

@media screen and (min-width: 420px) {
  #forPcTabContents {
    display: block;
    top: 4rem;
    margin: 6%;
  }
  #forMobileTabcontents {
    display: none;
  }

  button {
    padding: 0;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .tab {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 0 24px;
    overflow: hidden;
    font-size: var(--font-size-base);
    color: #222;
    text-align: center;
    overflow-wrap: anywhere;
    background: transparent;
  }

  @media (prefers-color-scheme: dark) {
    .tab {
      color: #e6dcb6;
    }
  }

  .tab::after {
    position: static;

    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;

    content: "";
    background-color: #0a0e06;
    transform: scaleX(0);
    transform-origin: right top;
  }
  @media (prefers-color-scheme: dark) {
    .tab::after {
      background-color: #e6dcb6;
    }
  }
  .tab::after {
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .tab.active::after {
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
    transform: scaleX(1);
    transform-origin: left top;
  }

  .content {
    font-size: var(--font-size-sm);
    overflow-wrap: break-word;
    max-width: 100%;
  }
}
#Examples_forpc_cont {
  overflow-x: auto;
}
/*タブ*/

.tabcontents {
  margin-top: 54px;
  position: absolute;
}
.tabs {
  max-width: 100%;
  height: auto;
  margin-top: 3%;
  -webkit-user-select: none;
  user-select: none;
}
.tab {
  -webkit-user-select: none;
  user-select: none;

  font-size: var(--font-size-sm);
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", sans-serif;
  background-color: #00000000;
  margin: 0.5%;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: block; 
}
.tab.Hide {
  display: none;
}
.content {
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", sans-serif;
}

.image.funcimage {
  height: 190px;
  margin-top: -18px;
}
.funclast {
  font-size: var(--font-size-lg);
  font-family: "Hiragino Maru Gothic ProN", "YuGoshic", sans-serif;
  display: flex 0 0 auto;
  margin-right: 10px;
  margin-bottom: 4%;
}
.funclast.hidden {
  visibility: hidden;
}
.slider-conteiner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0%;
}
.slick-slide {
  position: center;
  transform: translateX(0%);
  font-size: 23px;
  width: fit-content;
}

/*error入力*/
@media screen and (prefers-color-scheme: light) {
  #reserchTitle {
    color: #000000;
    margin: 2%;
    font-size: var(--font-size-base2);
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
  }
}
@media screen and (prefers-color-scheme: dark) {
  #reserchTitle {
    color: #e6dcb6;
    margin: 2%;
    font-size: var(--font-size-base2);
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
  }
}
@media screen and (prefers-color-scheme: light) {
  .errorInput {
    background-color: #ffffff;
    margin-bottom: 3%;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .errorInput {
    background-color: #00000000;
    margin-bottom: 3%;
  }
}
@media screen and (prefers-color-scheme: light) {
  #errorCopy {
    width: 100%;
    background-color: #ffffff;
    border: 3px solid #0a0e06;
    padding: 2%;
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  #errorCopy {
    width: 100%;
    background-color: #00000000;
    border: 3px solid #ffffff;
    padding: 2%;
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    font-size: var(--font-size-sm);
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
  }
}
@media screen and (prefers-color-scheme: light) {
  .option {
    background-color: #ffffff;
    margin-inline-start: 2%;
    margin-top: 2%;
    font-size: var(--font-size-sm);
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
  }
}
@media screen and (prefers-color-scheme: dark) {
  .option {
    background-color: #00000000;
    margin-inline-start: 2%;
    margin-top: 2%;
    font-size: var(--font-size-sm);
    font-family: "Hiragino Maru Gothic ProN", "YuGoshic", "sans-serif";
  }
}
